{% extends 'manage/layouts/manage.html' %}

{% block content %}
    <form method="post" class="ui form warning{% if form.errors %} error{% endif %}">
        {% csrf_token %}
        <div class="field">
            {{ form.channel.label_tag }}
            <div class="two fields">
                <div class="field{% if form.channel.errors %} error{% endif %}">
                    {{ form.channel }}
                </div>
                <div class="field{% if form.channel_booking_number.errors %} error{% endif %}">
                    {{ form.channel_booking_number }}
                </div>
            </div>
            {% if form.channel.errors or form.channel_booking_number.errors %}
                <div class="ui error message">
                    {{ form.channel.errors }}
                    {{ form.channel_booking_number.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field{% if form.room.errors %} error{% endif %}">
            {{ form.room.label_tag }}
            {{ form.room }}
            {% if form.room.errors %}
                <div class="ui error message">
                    {{ form.room.errors }}
                </div>
            {% endif %}
        </div>
        <div class="two fields">
            <div class="field{% if form.date_from.errors %} error{% endif %}">
                {{ form.date_from.label_tag }}
                {{ form.date_from }}
                {% if form.date_from.errors %}
                    <div class="ui error message">
                        {{ form.date_from.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field{% if form.date_to.errors %} error{% endif %}">
                {{ form.date_to.label_tag }}
                {{ form.date_to }}
                {% if form.date_to.errors %}
                    <div class="ui error message">
                        {{ form.date_to.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="field{% if form.status.errors %} error{% endif %}">
            {{ form.status.label_tag }}
            {{ form.status }}
            {% if form.status.errors %}
                <div class="ui error message">
                    {{ form.status.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field">
            {{ form.price.label_tag }}
            <div class="two fields">
                <div class="field{% if form.price.errors %} error{% endif %}">
                    {{ form.price }}
                    {{ form.price.errors }}
                </div>
                <div class="field{% if form.price_type.errors %} error{% endif %}">
                    {{ form.price_type }}
                    {{ form.price_type.errors }}
                </div>
            </div>
            {% if form.price.errors or form.price_type.errors %}
                <div class="ui error message">
                    {{ form.price.errors }}
                    {{ form.price_type.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field{% if form.comment.errors %} error{% endif %}">
            {{ form.comment.label_tag }}
            {{ form.comment }}
            {% if form.comment.errors %}
                <div class="ui error message">
                    {{ form.comment.errors }}
                </div>
            {% endif %}
        </div>
        <div class="field{% if form.client_comment.errors %} error{% endif %}">
            {{ form.client_comment.label_tag }}
            {{ form.client_comment }}
            {% if form.client_comment.errors %}
                <div class="ui error message">
                    {{ form.client_comment.errors }}
                </div>
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="ui labeled icon green button" type="submit">
            <i class="plus icon"></i>
            Забронировать
        </button>
    </form>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $.fn.calendar.settings.ampm = false;
        $.fn.calendar.settings.today = true;
        $.fn.calendar.settings.firstDayOfWeek = 1;
        $.fn.calendar.settings.formatter.date = function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            if (day < 10) {
                day = '0' + day;
            }
            var month = date.getMonth() + 1;
            if (month < 10) {
                month = '0' + month
            }
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        };
        $.fn.calendar.settings.formatter.time = function (date, settings) {
            if (!date) return '';
            var hours = date.getHours();
            if (hours < 10) {
                hours = '0' + hours;
            }
            var minutes = date.getMinutes();
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
            return hours + ':' + minutes;
        };
        $.fn.calendar.settings.text = {
            days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чр', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'],
            today: 'Сегодня',
            now: 'Сейчас',
            am: 'AM',
            pm: 'PM'
        };
        $('#id_date_from_calendar').calendar({
            endCalendar: $('#id_date_to_calendar'),

        });
        $('#id_date_to_calendar').calendar({
            startCalendar: $('#id_date_from_calendar'),
        });

        var rooms_price = [
            {% for room_price in rooms_price %}
                {
                    'id': {{ room_price.id }},
                    'price': '{{ room_price.price }}'
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        $('#id_room').on('change', function (e) {
            var room_id = this.value;
            var room_price = rooms_price.find(obj => {
                return '' + obj.id === room_id
            });
            if (room_price) {
                var price = room_price.price.replace(',', '.');
                $('#id_price').val(price);
                $('#id_price').data('price', price);
            }
        });
        $('#id_price').on('change', function (e) {
            if (this.value < $(this).data('price')) {
                $(this).after(
                    $('<div>').addClass('ui warning message').text('Вы установили цену ниже базовой.')
                );
            } else {
                if ($(this).next().has('.warning')) {
                    $(this).next().remove();
                }
            }
        });
    </script>
{% endblock %}
