{% extends 'manage/layouts/base.html' %}
{% load i18n static %}

{% block style %}
    <style type="text/css">
        body {
            background-image: url({% static 'mandarhan/img/bg.jpg' %});
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    #datetime {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
        border-radius: 0.5em;
    }
    </style>
{% endblock %}

{% block main-container %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui basic segment right aligned">
                <div class="ui statistic" id="datetime">
                    <div class="label">
                        <span id="date"></span>
                        <span id="month"></span>
                        <span id="year"></span>
                    </div>
                    <div class="value">
                        <span id="hours"></span>:<span id="minutes"></span>
                    </div>
                </div>
            </div>
            <form action="" class="ui large error form" method="post">
                {% csrf_token %}
                <div class="ui piled padded segment">
                    <div class="field{% if form.email.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.email }}
                        </div>
                        {% if form.email.errors %}
                            <div class="ui error message">
                                <ul class="list">
                                    {% for error in form.email.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="field{% if form.password.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password }}
                        </div>
                        {% if form.password.errors %}
                            <div class="ui error message">
                                <ul class="list">
                                    {% for error in form.password.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    {% if form.non_field_errors %}
                        <div class="ui error message">
                            {% for non_field_error in form.non_field_errors %}
                                {{ non_field_error|escape }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button class="ui fluid large black submit button">Авторизоваться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mandarhan/js/clock.js' %}"></script>
    <script>
        $(document).ready(function () {
            let options = {
                dayId: 'date',
                monthId: 'month',
                yearId: 'year',
                hoursId: 'hours',
                minutesId: 'minutes',
                timeZoneOffset: +8.00
            };
            let clock = new Clock(options);
            clock.start();
        });
    </script>
{% endblock %}
