{% load i18n static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }} - {% endif %}{% trans 'Hotel Management System' %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    {% block style %}{% endblock %}
</head>
<body>
{% block main-container %}
    <div class="ui container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
<script src="{% static 'rest_framework/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
