{% extends 'manage/layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'vendors/semantic-ui/components/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/dhtmlx/gantt/dhtmlxgantt.css' %}">
    {% include 'manage/includes/styles.html' %}
{% endblock %}

{% block main-container %}
    {% include 'manage/includes/main_menu.html' %}
    <div class="ui main text container">
        <h2 class="ui header">
            {% if title_icon %}
                <i class="{{ title_icon }} icon"></i>
            {% endif %}
            <div class="content">
                {{ title }}
                {% if subtitle %}
                    <div class="sub header">{{ subtitle }}</div>
                {% endif %}
            </div>
        </h2>
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'vendors/semantic-ui/components/calendar.min.js' %}"></script>
    <script src="{% static 'vendors/dhtmlx/gantt/dhtmlxgantt.js' %}"></script>
    <script src="{% static 'mandarhan/js/manage.js' %}"></script>
{% endblock %}
